@model IEnumerable<Product>
@{
}
<html>
<body>
    <h2>Products from the @*@ViewBag.Category.CategoryName*@ category</h2>
    <table>
        <tr>
            <td>Product name    </td>
            <td>Price   </td>
            <td>Category id   </td>
            <td></td>
        </tr>
        @foreach (var p in Model)
        {
            @if (p.CategoryId == ViewBag.CategoryId)
            {
                <tr>
                    <td><a asp-action="Update" asp-route-id="@p.Id">@p.Name</a></td>
                    <td>@p.Price</td>
                    <td>@p.CategoryId</td>
                    <td><a asp-action="Buy" class="btn btn-outline-danger" asp-route-id="@p.Id">Buy</a></td>
                    <td><a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@p.Id">Delete</a></td>
                </tr>
            }
        }
    </table>
     <br />
    <br />
    <a asp-action="Add" class="btn btn-outline-danger">Add</a>
</body>
</html>